html
 {
background: #E1A490;}

/* General Styles */

h1 {
	font-family: American Typewriter;
	font-size: 30px;
	font-weight: 510;
	line-height: 30px;
  	text-align: center;
}
h2 {
	font-family: Courier;
	font-variant: small-caps;
	font-size: 25px;
  	font-style: bold; 
	font-weight: 500;
	line-height: 15px;
  	text-align: center;
}
p {
	font-family: Courier, sans-serif;
	font-size: 12px;
  	font-style: normal; 
	font-weight: 500;
	line-height: 25px;
}

section#personal-digital{background-color: #E1CEAD}
section#social-digital{background-color: #E1CEAD} 
} 


/* General Media styles */

div.img-container img {
	width: 80%;
	height: 80%;
}

div.video-container
{position: center;
}

div.video-container iframe {
  top: 0; left: 0;
  width: 100%;
  height: 100%;
}


/* Grid */

.blocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    margin-bottom: 50px;
    min-height: 200px;
}
@media screen and (max-width: 900px) {
	section.blocks {
		grid-template-columns: 1fr;
	}
}

.blocks div {
    border: 4px solid  #CBCDCB ;
    padding: 15px;
}
